// Font stack

$fontStack--sans: 'Nunito', sans-serif;

// Colors

$black: #000;
$white: #fff;
$gray: #ccc;

$dark--main: #3a4755;
$accent--main: #5CBBFF;

// Grid

$grid-columns: 12;
$grid-gutter: 20px;
$breakpoints: ( 'xs': 576px, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px );
