<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="It's a simple weather knowing app, which can diplay weather in your City|Town|Village")
        title Know The Weather | The app to know, what the weather like
    body
        #root
