@import 'reset-css/sass/reset';
@import 'utils/typography';
@import 'utils/variables';
@import 'utils/grid';

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: $fontStack--sans;
    color: $dark--main;
}

.container {
    @include make-container();
}

.loading-circle {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    color: $dark--main;
    position: relative;
    display: inline-block;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.fallback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    & h3 {
        font: {
            size: 3rem;
            weight: 700;
        }
    }
}

.weather {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-display {
        padding: 40px 30px;
        margin-right: 100px;        
        display: flex;
        align-items: center;
        border-radius: 10px;      
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);         

        &__temp {
            position: relative;
            margin-right: 75px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:after {
                content: '';
                width: 2px; 
                height: 150%;
                position: absolute;
                right: -38px;
                background-color: #eee;
            } 

            &-main {
                margin-bottom: 10px;
                font: {
                    size: 4.4rem;
                    weight: 700;
                }
            }
            &-apparent {
                color: $gray;
                font: {
                    size: 2.2rem;
                    weight: 300
                }
            }
        }
        &__summary {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &-icon {
                width: 64px;
                height: 64px;
                margin-bottom: 10px;                
            }
            &-title {
                font: {
                    size: 2.8rem;
                    weight: 600;
                }
            }
        }
    }

    &-info {
        display: flex;
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-item {
                padding: 5px 0;
                font: {
                    size: 1.8rem;
                    weight: 400;
                }

                & strong {
                    font-weight: 700;
                }
            }
        }
    }
    &-predict {
        width: 100%;
        margin-top: 100px;
        position: relative;
        &__summary {            
            margin-bottom: 20px;
            font-size: 2.1rem;                    
        }
        &__button {
            width: 40px;
            height: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            position: absolute;
            top: 50%;            
            background-color: $white;
            border: none;
            border-radius: 50%;            
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
            font-size: 3rem;
            &_prev {
                left: 0;
                transform: translate(-75%, -50%);
            }
            &_next {
                right: 0;
                transform: translate(75%, -50%);
            }
        }
        &__cards {            
            overflow: hidden;
            display: flex;
            align-items: stretch;            
            padding: 30px 15px;
            border-radius: 10px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);          

            &-wrapper {          
                transition: .5s;                                     
                display: flex;
                align-items: stretch;
            }
        }
        &__card {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 200px;
            padding: 10px 15px;   
            border-right: 2px solid #eaeaea;
            &:last-child {
                border-right: none;
            }
            &-weekday {
                margin-bottom: 10px;
                font: {
                    size: 2rem;
                    weight: 400;
                }
            }
            &-date {
                margin-bottom: 25px;
                font: {
                    size: 1.6rem;
                    weight: 700;
                }
            }
            &-icon {
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
                align-self: center;
            }
            &-temp {
                align-self: center;
                margin-bottom: 20px;
                font: {
                    size: 2.2rem;                    
                }
            }
            &-summary {
                align-self: center;
                font: {
                    size: 1.5rem;
                    weight: 300;
                }
            }
        }
    }
}

.clear {
    width: 100%;
}
